<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Listado Mesas</title>
</head>
<body>

		<div class="card mx-2">
			<div class="row">
				<h5 class="card-header">
					<span> Listado de mesas para seleccionar</span>
				</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div th:each="listMesas: ${listadoMesas}" class="d-flex col-xs-12 col-sm-12 col-md-3 pb-3">
					<!-- Para mezclar texto y el icono sin evitar sustiir todo por el texto recibido desde el BE se utiliza 
					th:inline="text", esto permite mezclar iconos y el texto de thymeleaf en un solo atributo, el texto recibido
					desde el BE debe estár dentro de [[TEXTO]] para que pueda mostrar su valor -->
					<span th:inline="text" class="mesaSeleccionada btn btn-outline-success rounded-pill border-1">
					[[${listMesas.value}]] <ion-icon name="restaurant-outline"></ion-icon>
					</span> 
				</div>
					
				</div>
			</div>
		</div>

</body>
</html>