@charset "ISO-8859-1";

body{
	background-color: #eeeeee;  
	width: 100%;
}

#tituloPanel {
	color: #c1a676;
	text-shadow: 0px 0px 10px;
	font-family: Trebuchet MS;
}

table {
	width:100%;
}


#tituloBody{
	text-align:left;
	padding-bottom:6px;
}

#ivPrincipal{
	width: 100%;
	margin:0 auto;
}

#modalBoton, #btnPagar{
	margin-top: 2%;
	background-color: #43b39b;
	border-color: #43b39b;
	color:white;
}

.btn-outline-success:hover{
	background-color: #43b39b;	
}


.accordion-button:not(.collapsed){
	background-color: rgba(68,178,157,0.25);
	color: forestgreen;
	
	/* color: cornflowerblue
	
	box-shadow: 0 0 0 .25rem rgba(68,178,157,0.25);*/
	box-shadow: 0 0 0 2px rgba(68,178,157,1);
}

.popover-body{
	background-color: rgba(68,178,157,0.25);
	color: forestgreen;
	white-space: pre-line;
	text-align:left;
	padding-bottom:6px;
	font-family: Verdana;
	font-size: 12px;
	padding-left: 19px;
	font-style: italic;
	
}

.custom-popover{
	--bs-popover-border-color: var(--bs-primary);
}
	

/* Ini: Div que divide la aplicación entre comida,bebida y los productos*/
.contenedor{
    text-align: center;
    display: flex;
}

.columna{
    margin: 0 auto;
    float: left;
    width: 50%;
    padding: 10px;
    height: auto;
}

/* Fin: Div que divide la aplicación entre comida,bebida y los productos*/

#tamanioButtonPrincipal {
	width: -moz-available;
	background-color: #eeeee4;
	color: black;
	color: #c1a676;
	text-shadow: 0px 0px 10px;
	font-family: Trebuchet MS;
}


.borrar-icono-bebida {
  cursor: pointer;
}

.borrar-icono-comida {
  cursor: pointer;
}


.aniadir-icono-bebida {
  cursor: pointer;
}

.aniadir-icono-comida {
  cursor: pointer;
}

/* Color de borde en la lista de los productos 
.border {
  border: 1px solid #c1a676 !important;
  height: 100%;
}
*/


#flexSwitchCheckDefault, #flexSwitchCheckDefault-Vinos  {
height: 96%;
width: 11%;
}

/* Ini: Colores para los botones de el paginador. */
/* ############################################## */
.page-item.active .page-link {
	background-color: #43b39b;
}

.page-link {
  color: #43b39b;
}
/* Fin: Colores para los botones de el paginador. */
/* ############################################## */


#consulta-historico {
	border-color: #43b39b !important;
	background-color: #eeeee4;	
}

.boton-color-historico {
	color: #c1a676;
}

.boton-color-historico:hover{
	color: #c1a676 !important;
	text-shadow: 0px 0px 10px;
	font-family: Trebuchet MS;
}

/* Cambio de color para los tooltips */
.custom-tooltip .tooltip-inner {
  background-color:  #43b39b;
}
