<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/layout :: head}">

</head>

<body>

	<!-- Py-4 : Nos da un margen de anchura. -->
	<div id="ivPrincipal" class="container-fluid py-4">
		<div class="card bg-light">

			<!-- Cabecera header -->
			<!-- ############### -->
			<div class="card-header" style="text-align: center;">
				<span id="tituloPanel">Café &#x26; Copas - Memphis</span>
			</div>

			<div id="tablaAlimentos" class="card-body col text-center">
				<!--  <div class="contenedor"> -->
					<div class="row">
						<div class="col-12 col-md-6 col-lg-6 ">
						<!--  Columnma Listado Productos -->
							<div th:replace="~{columnaProductos/panelListadoProductos}"></div>
						</div>	
						<!-- Aplicacion -->
						<!--  <div class="columna">-->
						<div class="col-12 col-md-6 col-lg-6 ">
							<div class="row">
								<div th:each="nombrePrincipal: ${logosPrincipales}" class="d-flex col-xs-12 col-sm-12 col-md-3 pb-3">
									<a th:href="@{/Memphis_Cafe/redireccionComidas(valorBoton=${nombrePrincipal})}" id="tamanioButtonPrincipal" type="button" 
										class="btn btn-success rounded-pill border-0" th:text="${nombrePrincipal}" ></a>
								</div>
								<div th:if="${logosPrincipales.empty}" class="d-flex col-xs-12 col-sm-12 col-md-3 pb-3">
									<img alt="N/A" class="rounded mx-auto d-block pb-3" width="57px">
	
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>

		<!-- FOOTER -->
		<!-- ###### -->
		<footer th:replace="~{layout/layout :: footer}"> </footer> 
	</div>

</body>

<!-- Modal de alerta pasado 3 segundos -->
<!--  
<script type="text/javascript">
setTimeout(function(){ 
	$('#modalEmergente').modal('show')
	}, 3000);
</script>
-->

</html>