<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/layout :: head}">

</head>

<body>

	<!-- Py-4 : Nos da un margen de anchura. -->
	<div id="ivPrincipal" class="container-fluid py-4">
	
		<div class="row">
			<div class="accordion mb-5" id="accordionExample">
			  <div class="accordion-item">
				    <h2 class="accordion-header">
				      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				        Buscador Histórico
				      </button>
				    </h2>
				    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
				      <div class="accordion-body">
				     		<form th:action="@{/Memphis_Cafe/buscarHistorico}" th:object="${historico}" method="post">
								<div class="form-group row py-2">
									<div class="form-floating col-sm-2">
									  <input type="text" class="form-control" id="floatingInput" placeholder="Nombre" th:field="*{mesero}"
											th:errorsclass="'form-control alert-danger'">
									  <label class="ms-2" for="floatingInput">Nombre</label>
									  <!-- Mostramos el mensaje de eror en caso de que falle -->
										<small class="form-text text-danger " th:if="${#fields.hasErrors('mesero')}" th:errors="*{mesero}"></small>
									</div>
								</div>
							
								<div class="col-sm-6">
									<input type="submit" value="Buscar" class="btn btn-secondary" />
								</div>
							
							</form>
				      </div>
				    </div>
				</div>
			</div>
		</div>
	
	</div>
		<!-- FOOTER -->
		<!-- ###### -->
		<footer th:replace="~{layout/layout :: footer}"> </footer>
</body>


</html>