<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
<link rel="stylesheet" th:href="@{/css/jquery.tipsy.css}">


<!-- ### Fichero Login Externo ### -->
<link rel="stylesheet" th:href="@{/css/paginaLogin.css}">

<title>Registrar Usuario</title>
</head>
<body>
	
	<!-- PopUp Login -->
	<!-- ########### -->
	<div class="wrapper">
		<span class="icon-close">
			<ion-icon name="close"></ion-icon>
		</span>
	
		<div class="form-box login">
			<h2>Login</h2>
			<form action="#">
				
				<div class="input-box">
					<span class="icon">
						<ion-icon name="mail"></ion-icon>
					</span>
					<input type="email" required>
					<label>Email</label>
				</div>
				
				<div class="input-box">
					<span class="icon">
						<ion-icon name="lock-closed"></ion-icon>
					</span>
					<input type="password" required>
					<label>Password</label>
				</div>
				
				<div class="remember-forgot">
					<label>
						<input type="checkbox"> 
						Remember me 
					</label>
					<a href="#">Forgot Password?</a>
				</div>
				<button type="submit" class="btn">Login</button>
				
				<div class="login-registrer">
					<p>
						<span> Dont't have an account</span>
						<a href="#" class="register-link">Register</a>
					</p>
				</div>
			</form>
		</div>
	</div>
	

</body>

		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
		<script th:src="@{/js/bootstrap.bundle.min.js}"></script>		
		
		<!-- Liberería de Jquery.js -->
		<script th:src="@{/js/jquery-ui.min.js}"></script>
		<script th:src="@{/js/jquery.tipsy.js}"></script>
		<script th:src="@{/js/jquery.tipsy.min.js}"></script>
		
		<!-- Librería para utilizar los iconos: https://ionic.io/ionicons/usage -->
		<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
		

</html>