<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>

	<div class="col">
		<div class="container">
			<div class="row">
				<!-- Div para la lista de la comida -->
				<div id="lista-comida" class="col-12 col-md-6 col-lg-6 col-xl-6">
					<div th:if="${!comidaAlmacenada.isEmpty()}" class="card" style="width: 21rem; right: 6%">
						<div class="card-header">Comida</div>
							<div id="convertir-lista-comida">
								<ul id="lista-comidas" th:each="listaComida: ${comidaAlmacenada}" class="list-group list-group-flush">
									<li id="borrar-comidas" class="list-group-item contar-bebida">
										<ion-icon class="borrar-icono-comida" name="remove-circle"></ion-icon> 
												<span id="totalComida" th:text="${listaComida.total}" ></span> - 
												<span id="nombre-comida-seleccionado" th:text="${listaComida.nombreComida}"></span> x 
												<span id="suma-comidas" th:text="${listaComida.precio}+ ' €'" class="borrar-comida-especifica"></span> 
												<span id="tipo-producto-comida" th:text="${listaComida.nombreTabla}" hidden ></span>
										<ion-icon class="aniadir-icono-comida" name="add-circle"></ion-icon>
									</li>
								</ul>
							</div>
					</div>

				</div>
				<!-- Div para la lista de la bebida -->
				<div id="lista-productos" class="col-12 col-md-6 col-lg-6 col-xl-6">
					<div th:if="${!listaProductos.isEmpty()}" class="card ms-5" style="width: 21rem; right: 15%">
						<div class="card-header">Bebida</div>
							<div id="convertir-lista">
								<ul id="lista-bebidas" th:each="bebidas: ${listaProductos}" class="list-group list-group-flush">
									<li id="borrar-bebidas" class="list-group-item contar-bebida">
										<ion-icon class="borrar-icono-bebida" name="remove-circle"></ion-icon> 
												<span id="totalBebida" th:text="${bebidas.total}" ></span> - 
												<span id="nombre-cafe-seleccionado" th:text="${bebidas.nombreBebida}"></span> x 
												<span id="suma-bebidas" th:text="${bebidas.precio}+ ' €'" class="borrar-bebida-especifica"></span> 
												<span id="tipo-producto-bebida" th:text="${bebidas.nombreTabla}" hidden ></span>
										<ion-icon class="aniadir-icono-bebida" name="add-circle"></ion-icon>
									</li>
								</ul>
							</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<div th:if="${!listaProductos.isEmpty() || !comidaAlmacenada.isEmpty()}" class="mb-3 mt-5 row texto-pagar justify-content-center">
		    <label for="totalPagar" class="col-sm-2 col-form-label">Total: </label>
		    <div class="col-sm-2 ">
		      <input id="suma-cuenta" type="text" class="form-control"> 
		    </div>
		 </div>
		
		<!-- Botón para limpiar -->
		<div th:if="${!listaProductos.isEmpty() || !comidaAlmacenada.isEmpty()}" class="d-grid d-md-flex justify-content-center">
			<button id="modalBoton" class="btn btn-primary me-md-2 border-0 rounded-pill borrar-productos"
				style="width: 30%;">Limpiar Comanda</button>
				
			<button id="btnPagar" class="btn btn-primary me-md-2 border-0 rounded-pill"
				style="width: 30%;">Pagar</button>	
		</div>	
	</div>
	
</body>

	<script th:src="@{/js/jquery-3.7.0.min.js}"></script>

	<!-- Librería para utilizar los iconos: https://ionic.io/ionicons/usage -->
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	
	<!-- Importación Script para lógica agrupada -->
	<!-- ####################################### -->
	<script th:src="@{/js/panelListadoProductos.js}"></script>



</html>