<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/layout :: head}">

</head>

<body>

<div id="ivPrincipal" class="container-fluid py-4">

		<!-- HEADER -->
		<!-- ###### -->
		<header th:replace="~{layout/layout :: header}"> </header> 

		<div class="card bg-light">
			
			<!-- Cabecera header -->
			<!-- ############### -->
			<div class="card-header" style="text-align: center;">
				<span id="tituloPanel">Café &#x26; Copas - Memphis</span>
			</div>

			<div id="tablaAlimentos" class="card-body col text-center">
				<div class="contenedor">
					<!--  Columnma Listado Productos -->
					<div th:replace="~{columnaProductos/panelListadoProductos}"></div>

					<!-- Aplicacion -->
					
					<div class="columna">
						<form th:action="@{'/Memphis_Cafe/aniadirVino'}">
							<div class="row">
								<div th:each="vinos: ${listaVinos}" class="d-flex col-xs-12 col-sm-12 col-md-3 pb-3">
									<button id="tamanioButtonPrincipal" name="nombreVino" th:value="${vinos.nombre}" type="submit" 
										class="btn btn-success rounded-pill border-0" th:text="${vinos.nombre}"></button>
								</div>
								
								<div class="form-check form-switch d-grid gap-2 d-md-flex justify-content-md-center border-0">
										<input id="flexSwitchCheckDefault-Vinos" name="checked" class="form-check-input color-boton" type="checkbox" role="switch"> 
											<label id="switch-vinos" class="form-check-label" for="flexSwitchCheckDefault">
												Copa
											</label>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- Botón para retroceder -->
				<div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<a id="modalBoton" th:href="@{/Memphis_Cafe/redireccionComidas(valorBoton=Bebidas)}" class="btn btn-primary me-md-2 border-0 rounded-pill" style="width: 10%;" type="button">&laquo; Atrás</a>
				</div>
			</div>
		</div>

		<!-- FOOTER -->
		<!-- ###### -->
		<footer th:replace="~{layout/layout :: footer}"> </footer> 
	</div>
</body>
</html>