<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


</head>

<body>

<!-- Modal -->

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header parametros-cabecerea-modal">
        <h1 class="modal-title fs-5 fst-italic" id="staticBackdropLabel">Detalle de la comanda</h1>
        <button id="cerrar-modal-historico" type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
	  	<table id="tabla-detalles" class="table table-striped table-hover">
	  		<thead>
	      		<tr>
	      			<th></th>
	      			<th></th>
				</tr>
			</thead>
			<tbody>
			<tr>
				<td>
					<label class="fw-bold">Mesa:</label>
				</td>
				<td>
					<span id="detalle-mesa"></span>
				</td>
			</tr>							
			<tr>
				<td>
					<label class="fw-bold">Bebidas:</label>
				</td>
				<td>
					<span id="detalle-bebidas"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label class="fw-bold">Comidas:</label>
				</td>
				<td>
					<span id="detalle-comidas"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label class="fw-bold">Día:</label>
				</td>
				<td>
					<span id="detalle-dia"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label class="fw-bold">Hora:</label>
				</td>
				<td>
					<span id="detalle-hora"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label class="fw-bold">Hora:</label>
				</td>
				<td>
					<span id="detalle-mesero"></span>
				</td>
			</tr>									
			</tbody>
	 	</table>
      </div>
      <div class="modal-footer d-flex justify-content-between">
      	<button id="modalBoton" type="button" class="btn btn-secondary">Imprimir en Excel</button>
        <button id="modalBoton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>



</body>


</html>