<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/layout :: head}">

</head>

<body>

<div id="ivPrincipal" class="container py-4">
		
		<!-- HEADER -->
		<!-- ###### -->
		<header th:replace="~{layout/layout :: header}"> </header> 

		<div class="row mt-3 mb-5">
			<div class="accordion" id="accordionExample">
			  <div class="accordion-item">
				    <h2 class="accordion-header">
				      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				        <span>Buscador Histórico</span>
				      </button>
				    </h2>
				    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
				      <div class="accordion-body">
				      		<!--     -->
				     		<form th:action="@{/Memphis_Cafe/buscarHistorico}" th:object="${historico}" method="post">

								<div id="inputVisible" data-input-visible="${inputVisible}" style="display: none"></div>

								<!-- Selección de búsqueda -->
								<div class="col-md-4">
									<select id="busqueda-seleccion" class="form-select" aria-label="Default select example">
										<option selected>Selecciona la busqueda</option>
										<option value="1">Nombre</option>
										<option value="2">Fecha</option>
									</select>
								</div>

								<div id="input-nombre" class="form-group row py-2" style="display: none">
									<div class="form-floating col-md-2">
									  <input id="floatingInput" type="text" class="form-control" placeholder="Nombre" th:field="*{mesero}" 
									  	th:errorsclass="'form-control alert-danger'">
									  <label class="ms-2" for="floatingInput">Nombre</label>
									  <!-- Mostramos el mensaje de eror en caso de que falle -->
										<small class="form-text text-danger " th:if="${#fields.hasErrors('mesero')}" th:errors="*{mesero}"></small>
									</div>
								</div>
							
								<div id="input-fecha" class="form-group row py-2" style="display: none">
									<div class="form-floating col-md-2">
									  <input id="filtrado-fecha" type="date" class="form-control" placeholder="Fecha" th:field="*{dia}" 
									  	th:errorsclass="'form-control alert-danger'">
									  <label class="ms-2" for="filtrado-fecha">Fecha</label>
									  <small class="form-text text-danger " th:if="${#fields.hasErrors('dia')}" th:errors="*{dia}"></small>
									</div>
								</div>

								<!-- Input hidden para obtener el input visualizado para mantenerlo una vez que se recibe los datos desde el controlador -->
								<span id="input-visible" th:text="${inputVisible}" hidden ></span>
				
								<div class="col-sm-6">
									
									<input id="modalBoton" type="submit" value="Buscar" class="btn btn-secondary busqueda-historico" />
									
									<a id="modalBoton" th:href="@{/Memphis_Cafe/historicoVentas}" type="button" class="btn btn-secondary"
										th:text="Reestablecer"></a>
								</div>
							
							</form>
				      </div>
				    </div>
				</div>
			</div>
		</div>

		<div class="card bg-light">
			
			<!-- Cabecera header -->
			<!-- ############### -->
			<div class="card-header" style="text-align: center;">
				<span id="tituloPanel">Histórico de ventas</span>
			</div>

			<div id="tablaAlimentos" class="card-body col text-center">
				<div class="contenedor">
					<table class="table table-striped table-hover" th:if="${#lists.isEmpty(listaPersonalizada)}">
					  <thead>
					    <tr>
					      <th scope="col">Mesa</th>
					      <th scope="col">Bebidas</th>
					      <th scope="col">Comidas</th>
					      <th scope="col">Día</th>
					      <th scope="col">Hora</th>
					      <th scope="col">Mesero</th>
					      <th scope="col">Cuenta</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr class="objetos-historicos" th:each="historico: ${listaHistorico}"
					    	data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Pulsa para obtener más detalle.">
					      <td th:text="${historico.mesa}"></td>
					      <td th:text="${historico.listaBebidasHistorico}"></td>
					      <td th:text="${historico.listaComidasHistorico}"></td>
					      <td th:text="${historico.dia}"></td>
					      <td th:text="${historico.hora}"></td>
					      <td th:text="${historico.mesero}"></td>
					      <td th:text="${historico.cuenta}"></td>
					    </tr>
					   </tbody>
					</table>
					
					
					<table class="table table-striped table-hover" th:if="${listaPersonalizada != null}">
					  <thead>
					    <tr>
					      <th scope="col">Mesa</th>
					      <th scope="col">Bebidas</th>
					      <th scope="col">Comidas</th>
					      <th scope="col">Día</th>
					      <th scope="col">Hora</th>
					      <th scope="col">Mesero</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr class="objetos-historicos" th:each="historico: ${listaPersonalizada}"
					    	data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Pulsa para obtener más detalle.">
					      <td th:text="${historico.mesa}"></td>
					      <td th:text="${historico.listaBebidasHistorico}"></td>
					      <td th:text="${historico.listaComidasHistorico}"></td>
					      <td th:text="${historico.dia}"></td>
					      <td th:text="${historico.hora}"></td>
					      <td th:text="${historico.mesero}"></td>
					    </tr>
					   </tbody>
					</table>
				</div>

				<!--  Paginador -->
				<div th:replace="~{paginacion/paginador}"></div>

				<!-- Botón para retroceder -->
				<div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<a id="modalBoton" th:href="@{/Memphis_Cafe/inicio}" class="btn btn-primary me-md-2 border-0 rounded-pill" 
						style="width: 10%;" type="button">&laquo; Atrás</a>
				</div>
			</div>
		</div>


		<!-- Modal para la tabla -->
		<div th:replace="~{historicoVentas/modalHistorico/modal}"></div>
		
		
		
		<!-- FOOTER -->
		<!-- ###### -->
		<footer th:replace="~{layout/layout :: footer}"> </footer>
	</div>
</body>

	<!-- Importación Script para lógica agrupada -->
	<!-- ####################################### -->
	<script th:src="@{/js/historico/scriptHistorico.js}"></script>

</html>